---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">What's Inside?</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:comment" title="Community">
          Connect with other screen printers and grow your network.
        </Feature>
        <Feature icon="mdi:help" title="Support">
          Get the help you need through new ideas, feedback, and tips from the group.
        </Feature>
        <Feature icon="mdi:group" title="Accountability">
          Sometimes all we need is someone to hold us to the goals we've set for ourselves.
        </Feature>
        <Feature icon="mdi:puzzle" title="Answers">
          You're likely to find just about any answer you're looking for as we all share our experiences with screen printing.
        </Feature>
        <Feature icon="mdi:lock-open-plus" title="Exclusive Content">
          Enjoy exclusive access to live streams, Q&A's, and tutorial videos from Startup Screen Printing.
        </Feature>
        <Feature icon="mdi:chart-line" title="Growth Hacking">
          Learn from the success of others, and the mistakes, to hack your way to a successful business.
        </Feature>
      </div>
    </div>
    <h4>Not ready for the paid community? Check out the free forums at <a href="https://screenprint.chat">ScreenPrint.chat</a></h4>
  </section>
  <!-- <ContentMedia imgSrc="/accessible-components.webp">
    <h2>Accessible Components</h2>
    <p class="text-2xl">
      This theme provides plenty of tried and tested Accessible Astro Components. Some are native to this theme and a
      lot of others are integrated using a <a href="https://github.com/markteekman/accessible-astro-components"
        >separate package</a
      >. They'll get you up and running in building an accessible solution for your visitors.
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section> -->
</DefaultLayout>
