---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
<!--   <CallToAction /> -->
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - The Print Crew | A premium community created by <a href="https://jessepoteet.com">Jesse Poteet</a> & <a href="https://startupscreenprinting.com">Startup Screen Printing</a> | All Rights Reserved
      </p>
    </div>
  </section>
</footer>
