DirectoryIndex index.php

<IfModule mod_negotiation.c>
    Options -MultiViews
</IfModule>

# ========================================
# SECURITY RULES
# ========================================
<Files "config.php">
    Require all denied
</Files>

<FilesMatch "\.(config|conf)$">
    Require all denied
</FilesMatch>

<FilesMatch "\.log$">
    Require all denied
</FilesMatch>

<IfModule mod_alias.c>
    RedirectMatch 403 ^logs(/|$)
</IfModule>

<Files "composer.json">
    Require all denied
</Files>
<Files "composer.lock">
    Require all denied
</Files>

<FilesMatch "^\.env">
    Require all denied
</FilesMatch>

<FilesMatch "^(?!index\.php$).*\.php$">
    Require all denied
</FilesMatch>

<IfModule mod_alias.c>
    RedirectMatch 403 ^vendor/.*$
    RedirectMatch 403 ^tests/.*$
</IfModule>

# ========================================
# REWRITES
# ========================================
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<IfModule !mod_rewrite.c>
    <IfModule mod_alias.c>
        RedirectMatch 307 ^/$ /index.php/
    </IfModule>
</IfModule>